<h1><%= @doctor.name%>'s Appointments: </h1>
<%= @doctor.appointments.each do |appointment| %>
    <%= link_to appointment.patient_name, patient_path(appointment.patient) %> 
    - <%= appointment.format_date %>
    <br>
<% end %>